.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;

}

.card{
    margin-bottom: 30px;
}
.card-footer{
    padding: 10px 15px;
}

.ngx-gallery { 
    display: inline-block; margin-bottom: 20px; 
}